<header class="header-content bg-gray-900 text-white flex justify-between items-center p-5">
  <div class="header-content__logo">
    <a routerLink="/">
      <img [src]="imgSrc" alt="Logo Pokemon" class="h-10" />
    </a>
  </div>
  <nav class="header-content__nav">
    <ul class="flex">
      <li class="mr-4">
        <a routerLink="/" routerLinkActive="active" class="hover:text-yellow-400 font-bold">Home</a>
      </li>
      <li class="mr-4">
        <a routerLink="/pokemons" routerLinkActive="active" class="hover:text-yellow-400 font-bold">Pokemons</a>
      </li>
      <li>
        <a routerLink="/cards" routerLinkActive="active" class="hover:text-yellow-400 font-bold">Cartas</a>
      </li>
    </ul>
  </nav>
</header>
