<div class="absolute top-16 bottom-14 left-0 right-0 flex flex-col justify-center bg-gray-100 bg-opacity-60">
  <div class="text-center mb-12">
    <h1 class="text-7xl font-bold text-gray-900 my-8 leading-tight">
      Bem-vindo ao Mundo Pokémon!
    </h1>
    <p class="text-3xl text-gray-800 mb-8 leading-tight">
      Embarque em uma jornada emocionante pelo mundo dos Pokémon
    </p>
  </div>
  
  <div class="mx-auto mb-8">
    <div class="relative">
      <h2 class="text-6xl font-bold text-gray-900 mb-4 leading-tight">
        Colete cartas Pokémon
      </h2>
      <p class="text-2xl text-gray-700 leading-tight">
        Colete cartas de Pokémon raras e poderosas para construir seu deck final e desafiar outros treinadores.
      </p>
    </div>
  </div>
  
  <div class="text-center">
    <p class="text-xl text-gray-700 leading-tight">
      Descubra a magia e a aventura do mundo Pokémon. Comece sua jornada hoje!
    </p>
  </div>
</div>
